* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	text-decoration: none;
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 60px;
	height: 80px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
	width: 130px;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 30px;
}

nav ul li a {
	font-size: 16px;
	color: #333;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 20px;
	transition: 0.3s;
}

nav ul li a:hover {
	color: #8B4513; /* Coffee Brown */
	border-bottom: 2px solid #8B4513;
}

nav button {
	padding: 12px 30px;
	background-color: #8B4513;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.3s;
}

nav button:hover {
	transform: scale(0.95);
}

.hero {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),   url('damalin.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 70px 20px;
}

.content {
	color: #fff;
}

h2 {
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
}

p {
	font-size: 22px;
	margin-top: 15px;
	font-style: italic;
}

.content button {
	margin-top: 40px;
	padding: 15px 50px;
	background: #fff;
	font-size: 16px;
	font-weight: 600;
	border: none;
	cursor: pointer;
	transition: .3s;
}

.content button:hover {
	transform: scale(0.95);
}

.content button.more {
	border: 2px solid #fff;
	background: transparent;
	margin-left: 25px;
	color: #8B4513;
}

.content button.more:hover {
	background: #8B4513;
	color: #fff;
	border: none;
	transform: scale(1.05);
}

footer {
	background-color: #fff;
	color: #333;
	text-align: center;
	padding: 20px;
	width: 100%;
	font-size: 14px;
	border-top: 2px solid #ddd;
	box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
	font-size: 12px;
	margin: 10px 0;
}

.footer-links {
	display: flex;
	justify-content: center;
	gap: 25px;
}

.footer-links a {
	color: #333;
	font-size: 14px;
	transition: 0.3s;
}

.footer-links a:hover {
	color: #8B4513; /* Coffee Brown */
	text-decoration: underline;
}
